# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.egg-info/
dist/
build/
# ML Models
*.pkl

# Data files
*.csv

# Images
*.png
*.jpg
*.jpeg

# Base64 / large text assets
bg_*.txt
profile_*.txt

# Environment
.env
# Environments
.venv/
venv/
env/
.env
.env.*

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Raw data (large)
data/

# Github
.github/

#Docs
*.md